<script src="http://d3js.org/d3.v3.min.js"></script>
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<div class="row">
	<div class="col-lg-7"><div id="tree">

	</div></div>
	<div class="col-lg-5">
		<h3><strong>Gran Idea:</strong><br><span id="gidea"></span></h3>
		<h3><strong>Obj. Pedagogico:</strong><br><span id="opedg"></span></h3>
		<h3><strong>Ent. Perdurable:</strong><br><span id="eperd"></span></h3>
		<h3><strong>Titulo Actividad:</strong><br><span id="title"></span></h3>
		<h3><strong>Sprint:</strong> <span id="sprint"></span></h3>
		<h3><strong>Micro Sprint:</strong> <span id="microSprint"></span></h3>
		</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="main.js"></script>